# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
****

In [1]:
import pandas as pd

## imports for Python, Pandas

In [2]:
import json
from pandas.io.json import json_normalize

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [3]:
#1. Find the 10 countries with most projects
#step 1 load json as string and call it variab
#step 2 load as Pandas Dataframe. This shows there are 500 rows and 50 columns
#step 3 display the labels of the 50 columns to see what key value pair to find the 10 countries with most project
#step 4 use the method value count to tie country with project. Then print the 10 most countries with most project

In [4]:
# Step 1:load json as string
variab=json.load((open('data/world_bank_projects.json')))
type(variab)

list

In [5]:
# Step 2: load as Pandas dataframe and see how many rows and columns exist
json_df = pd.read_json('data/world_bank_projects.json')
json_df.shape

(500, 50)

In [6]:
#step 3 display the labels of the 50 columns to see what key value pair to find the 10 countries with most project
for index,value in enumerate (json_df):
    print (index,value)

0 sector
1 supplementprojectflg
2 projectfinancialtype
3 prodline
4 mjtheme
5 idacommamt
6 impagency
7 project_name
8 mjthemecode
9 closingdate
10 totalcommamt
11 id
12 mjsector_namecode
13 docty
14 sector1
15 lendinginstr
16 countrycode
17 sector2
18 totalamt
19 mjtheme_namecode
20 boardapprovaldate
21 countryshortname
22 sector4
23 prodlinetext
24 productlinetype
25 regionname
26 status
27 country_namecode
28 envassesmentcategorycode
29 project_abstract
30 approvalfy
31 projectdocs
32 lendprojectcost
33 lendinginstrtype
34 theme1
35 grantamt
36 themecode
37 borrower
38 sectorcode
39 sector3
40 majorsector_percent
41 board_approval_month
42 theme_namecode
43 countryname
44 url
45 source
46 projectstatusdisplay
47 ibrdcommamt
48 sector_namecode
49 _id

In [7]:
#Step 4 use the method value count to tie country with project. Then print the 10 most countries with most project
count = json_df["countryname"].value_counts()
print (" Top 10 Countries with most projects")
print(count.head(10))

 Top 10 Countries with most projects
Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
People's Republic of Bangladesh    12
Nepal                              12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

In [13]:
#2. Find the top 10 major project themes (using column 'mjtheme_namecode')
#step 1 Create new dataframe
#step 2 Normalize data in mjtheme_namecode
#step 3 Return the most freqently occuring elements in descending order.

In [14]:
#step 1
# Create new dataframe.
project_themes = pd.DataFrame(columns = ['code', 'name'])

In [15]:
#step 2  Normalize data in mjtheme_namecode
for row in json_df.mjtheme_namecode:
    project_themes = project_themes.append(json_normalize(row))

project_themes.head()

  code                                   name
0    8                      Human development
1   11
0    1                    Economic management
1    6  Social protection and risk management
0    5                  Trade and integration

In [16]:
# Step 3  From the column name, return the most freqently occuring elements in descending order.
project_themes_count = project_themes.name.value_counts()
project_themes_count.head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64