# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
****

In [2]:
import pandas as pd

## imports for Python, Pandas

In [3]:
import json
from pandas.io.json import json_normalize

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [4]:
#1. Find the 10 countries with most projects
#step 1 load json as string and call it variab
#step 2 load as Pandas Dataframe. This shows there are 500 rows and 50 columns
#step 3 display the labels of the 50 columns to see what key value pair to find the 10 countries with most project
#step 4 use the method value count to tie country with project. Then print the 10 most countries with most project

In [5]:
# Step 1:load json as string
variab=json.load((open('data/world_bank_projects.json')))
type(variab)

list

In [6]:
# Step 2: load as Pandas dataframe and see how many rows and columns exist
json_df = pd.read_json('data/world_bank_projects.json')
json_df.shape

(500, 50)

In [7]:
#step 3 display the labels of the 50 columns to see what key value pair to find the 10 countries with most project
for index,value in enumerate (json_df):
    print (index,value)

0 sector
1 supplementprojectflg
2 projectfinancialtype
3 prodline
4 mjtheme
5 idacommamt
6 impagency
7 project_name
8 mjthemecode
9 closingdate
10 totalcommamt
11 id
12 mjsector_namecode
13 docty
14 sector1
15 lendinginstr
16 countrycode
17 sector2
18 totalamt
19 mjtheme_namecode
20 boardapprovaldate
21 countryshortname
22 sector4
23 prodlinetext
24 productlinetype
25 regionname
26 status
27 country_namecode
28 envassesmentcategorycode
29 project_abstract
30 approvalfy
31 projectdocs
32 lendprojectcost
33 lendinginstrtype
34 theme1
35 grantamt
36 themecode
37 borrower
38 sectorcode
39 sector3
40 majorsector_percent
41 board_approval_month
42 theme_namecode
43 countryname
44 url
45 source
46 projectstatusdisplay
47 ibrdcommamt
48 sector_namecode
49 _id

In [8]:
#Step 4 use the method value count to tie country with project. Then print the 10 most countries with most project
count = json_df["countryname"].value_counts()
print (" Top 10 Countries with most projects")
print(count.head(10))

 Top 10 Countries with most projects
Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
Nepal                              12
People's Republic of Bangladesh    12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

In [9]:
#2. Find the top 10 major project themes (using column 'mjtheme_namecode')
#step 1 Create new dataframe
#step 2 Normalize data in mjtheme_namecode
#step 3 Return the most freqently occuring elements in descending order.

In [10]:
#step 1
# Create new dataframe.
project_themes = pd.DataFrame(columns = ['code', 'name'])

In [11]:
#step 2  Normalize data in mjtheme_namecode
for row in json_df.mjtheme_namecode:
    project_themes = project_themes.append(json_normalize(row))

project_themes.head()

  code                                   name
0    8                      Human development
1   11
0    1                    Economic management
1    6  Social protection and risk management
0    5                  Trade and integration

In [12]:
# Step 3  From the column name, return the most freqently occuring elements in descending order.
project_themes_count = project_themes.name.value_counts()
project_themes_count.head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [13]:
#In 2. above you will notice that some entries have only the code and the name is missing. 
#Create a dataframe with the missing names filled in.

json_df.loc[:,json_df.isna().any()]

,supplementprojectflg,mjtheme,impagency,closingdate,docty,lendinginstr,sector2,sector4,envassesmentcategorycode,project_abstract,projectdocs,lendinginstrtype,themecode,borrower,sector3,theme_namecode
0,N,[Human development],MINISTRY OF EDUCATION,2018-07-07T00:00:00Z,"Project Information Document,Indigenous People...",Investment Project Financing,"{'Percent': 26, 'Name': 'Secondary education'}","{'Percent': 12, 'Name': 'Tertiary education'}",C,{'cdata': 'The development objective of the Se...,"[{'DocDate': '28-AUG-2013', 'EntityID': '09022...",IN,65,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,"{'Percent': 16, 'Name': 'Public administration...","[{'code': '65', 'name': 'Education for all'}]"
1,N,"[Economic management, Social protection and ri...",MINISTRY OF FINANCE,NaN,"Project Information Document,Integrated Safegu...",Specific Investment Loan,"{'Percent': 30, 'Name': 'General public admini...",NaN,C,NaN,"[{'DocDate': '29-MAR-2013', 'EntityID': '00033...",IN,"54,24",GOVERNMENT OF TUNISIA,NaN,"[{'code': '24', 'name': 'Other economic manage..."
2,Y,"[Trade and integration, Public sector governan...",MINISTRY OF TRANSPORT AND COMMUNICATIONS,NaN,"Resettlement Plan,Environmental Assessment,Int...",Investment Project Financing,NaN,NaN,B,NaN,"[{'DocDate': '21-OCT-2013', 'EntityID': '00033...",IN,"52,81,25,47",MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,"[{'code': '47', 'name': 'Regional integration'..."
3,N,"[Social dev/gender/inclusion, Social dev/gende...",LABOR INTENSIVE PUBLIC WORKS PROJECT PMU,NaN,"Procurement Plan,Project Information Document,...",Technical Assistance Loan,NaN,NaN,C,NaN,"[{'DocDate': '15-MAY-2013', 'EntityID': '00035...",IN,"59,57",MIN. OF PLANNING AND INT'L COOPERATION,NaN,"[{'code': '57', 'name': 'Participation and civ..."
4,N,"[Trade and integration, Financial and private ...",MINISTRY OF TRADE AND INDUSTRY,2019-04-30T00:00:00Z,"Project Information Document,Integrated Safegu...",Investment Project Financing,"{'Percent': 40, 'Name': 'Other industry'}",NaN,B,{'cdata': 'The development objective of the Se...,"[{'DocDate': '06-SEP-2013', 'EntityID': '09022...",IN,"41,45",MINISTRY OF FINANCE,"{'Percent': 10, 'Name': 'SME Finance'}","[{'code': '45', 'name': 'Export development an..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,N,"[Financial and private sector development, Soc...",THE COMPETITIVENESS COMPANY,2013-08-31T00:00:00Z,NaN,Technical Assistance Loan,"{'Percent': 50, 'Name': 'Vocational training'}",NaN,C,NaN,NaN,IN,"62,40",THE COMPETITIVENESS COMPANY,NaN,"[{'code': '40', 'name': 'Regulation and compet..."
496,N,"[Human development, Trade and integration, Pub...",MINISTRY OF FINANCE,2012-12-31T00:00:00Z,"Financing Agreement,Summary of Discussion,Prog...",Development Policy Lending,"{'Percent': 29, 'Name': 'General finance sector'}","{'Percent': 14, 'Name': 'Health'}",NaN,{'cdata': 'The development objective of the Ei...,"[{'DocDate': '31-AUG-2012', 'EntityID': '09022...",AD,"65,27,49,63",LAO PEOPLES DEMOCRATIC REPUBLIC,"{'Percent': 14, 'Name': 'General education sec...","[{'code': '63', 'name': 'Child health'}, {'cod..."
497,N,[Rural development],MINISTRY OF AGRICULTURE AND PRODUCER ORGANISAT...,2014-12-31T00:00:00Z,"Implementation Status and Results Report,Integ...",Specific Investment Loan,"{'Percent': 35, 'Name': 'Crops'}",NaN,B,NaN,"[{'DocDate': '10-JUL-2013', 'EntityID': '09022...",IN,91,GOVERNMENT OF THE REPUBLIC OF GUINEA,"{'Percent': 25, 'Name': 'Agricultural extensio...","[{'code': '91', 'name': 'Global food crisis re..."
498,N,"[Rural development, Rural development, Rural d...",INDONESIAN AGENCY FOR AGRICULTURAL RESEARCH AN...,2017-09-30T00:00:00Z,"Implementation Status and Results Report,Procu...",Specific Investment Loan,"{'Percent': 15, 'Name': 'Public administration...",NaN,B,{'cdata': 'The development objective of the Su...,"[{'DocDate': '27-JUN-2013', 'EntityID': '09022...",IN,"77,91,78",REPUBLIC OF INDONESIA,"{'Percent': 5, 'Name': 'Agro-industry, marketi...","[{'code': '78', 'name': 'Rural services and in..."
499,N,"[Urban development, Human development, Trade a...",MINISTRY OF ROADS,2018-12-31T00:00:00Z,"Implementation Status and Results Report,Imple...",Specific Investment Loan,"{'Percent': 21, 'Name': 'Public administration...",NaN,B,{'cdata': 'The objectives of the National Urba...,"[{'DocDate': '22-OCT-2013', 'EntityID': '09022...",IN,"39,49,88,73",GOVERMENT OF KENYA,NaN,"[{'code': '73', 'name': 'Municipal governance ..."

In [14]:
json_df=json_df.ffill(axis=0)

In [15]:
json_df.loc[:,json_df.isna().any()]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[500 rows x 0 columns]