# JSON examples and exercise
****
+ get familiar with packages for dealing with JSON
+ study examples with JSON strings and files 
+ work on exercise to be completed and submitted 
****
+ reference: http://pandas.pydata.org/pandas-docs/stable/io.html#io-json-reader
****

In [170]:
import pandas as pd

## imports for Python, Pandas

In [171]:
import json
from pandas.io.json import json_normalize
import numpy as np

****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [172]:
#1. Find the 10 countries with most projects
#step 1 load as Pandas Dataframe. This shows there are 500 rows and 50 columns
#step 2 display the labels of the 50 columns to see what key value pair to find the 10 countries with most project
#step 3 use the method value count to tie country with project. Then print the 10 most countries with most project

In [184]:
# Step 1: load as Pandas dataframe and see how many rows and columns exist
json_df = pd.read_json('data/world_bank_projects.json')
json_df.shape

(500, 50)

In [175]:
#step 2: Display the labels of the 50 columns to see what key value pair to find the 10 countries with most project
for index,value in enumerate (json_df):
    print (index,value)

0 sector
1 supplementprojectflg
2 projectfinancialtype
3 prodline
4 mjtheme
5 idacommamt
6 impagency
7 project_name
8 mjthemecode
9 closingdate
10 totalcommamt
11 id
12 mjsector_namecode
13 docty
14 sector1
15 lendinginstr
16 countrycode
17 sector2
18 totalamt
19 mjtheme_namecode
20 boardapprovaldate
21 countryshortname
22 sector4
23 prodlinetext
24 productlinetype
25 regionname
26 status
27 country_namecode
28 envassesmentcategorycode
29 project_abstract
30 approvalfy
31 projectdocs
32 lendprojectcost
33 lendinginstrtype
34 theme1
35 grantamt
36 themecode
37 borrower
38 sectorcode
39 sector3
40 majorsector_percent
41 board_approval_month
42 theme_namecode
43 countryname
44 url
45 source
46 projectstatusdisplay
47 ibrdcommamt
48 sector_namecode
49 _id

In [188]:
#Step 3 use the method value count to tie country with project. Then print the 10 most countries with most project
count = json_df["countryname"].value_counts()
print (" Top 10 Countries with most projects")
print(count.head(10))

 Top 10 Countries with most projects
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Nepal                              12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

In [189]:
#2. Find the top 10 major project themes (using column 'mjtheme_namecode')
#step 1 Create new dataframe
#step 2 Normalize data in mjtheme_namecode
#step 3 Return the most freqently occuring elements in descending order.

In [190]:
#step 1
# Create new dataframe.
project_themes = pd.DataFrame(columns = ['code', 'name'])

In [191]:
#step 2  Normalize data in mjtheme_namecode
for row in json_df.mjtheme_namecode:
    project_themes = project_themes.append(json_normalize(row))

project_themes.head()

  code                                   name
0    8                      Human development
1   11
0    1                    Economic management
1    6  Social protection and risk management
0    5                  Trade and integration

In [192]:
# Step 3  From the column name, return the most frequently occuring elements in descending order.
project_themes_count = project_themes.name.value_counts()
project_themes_count.head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Name: name, dtype: int64

In [193]:
#In 2. above you will notice that some entries have only the code and the name is missing. 
#Create a dataframe with the missing names filled in.

#step 1 Create new dataframe and sort by name to find blank values
#step 2 Replace all blank spaces in "name" with nan
#step 3 Replace the nan value now withthe ffillna method so that values are now each columns
#step 4 Compare with question 2 to see if nan has truly being replaced.

In [194]:
#step 1 Create new dataframe and sort by name to find blank values
missing_df=project_themes.sort_values(by="name")
missing_df

   code               name
1     8
1    10
1    11
1     4
1     4
..  ...                ...
0     9  Urban development
0     9  Urban development
3     9  Urban development
1     9  Urban development
0     9  Urban development

[1499 rows x 2 columns]

In [207]:
#step 2 Replace all blank spaces in "name" with nan

# Replace all blank spaces in "name" with nan. 
missing_df['name'].replace('',np.nan)

1                  NaN
1                  NaN
1                  NaN
1                  NaN
1                  NaN
           ...
0    Urban development
0    Urban development
3    Urban development
1    Urban development
0    Urban development
Name: name, Length: 1499, dtype: object

In [242]:
#step 3 Replace the nan value now with the ffillna method so that values are now each columns


#  Use the fillna function to replace the nan value. 
#To do this we will have to first sort the rows together. We will sort with the "code" cells

sorted_code = missing_df.sort_values(by='code')

#   After this is sorted we can now use the fillna function to fill in nan in the "name" cells
# We will use the 'ffill' method of 'fillna' to forward fill the 'name' cells.

sorted_code['name'].fillna(method='ffill')

1    Economic management
2    Economic management
1    Economic management
3    Economic management
0    Economic management
            ...
0      Urban development
0      Urban development
2      Urban development
0      Urban development
0      Urban development
Name: name, Length: 1499, dtype: object

In [243]:
#step 4 Compare with question 2 to see if nan has truly being replaced.
# We group by the cell "code" and then sort the value and see if there is a difference with exerise 2

sco = psorted.groupby('code').name.value_counts()


#sorted_code.head(10).sort_values(ascending=False)
sco.sort_values(ascending=False).head(10)

code  name
11    Environment and natural resources management    250
10    Rural development                               216
8     Human development                               209
2     Public sector governance                        199
6     Social protection and risk management           168
4     Financial and private sector development        146
7     Social dev/gender/inclusion                     130
5     Trade and integration                            77
9     Urban development                                50
1     Economic management                              38
Name: name, dtype: int64