In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
pwd

'/Users/adejuwon/Documents/Capstone'

In [9]:
capstone= pd.read_csv("/Users/adejuwon/Documents/Capstone/mens-machine-learning-competition-2019/Prelim2019_RegularSeasonDetailedResults.csv")

In [10]:
capstone.head()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
0,2003,10,1104,68,1328,62,N,0,27,58,...,10,16,22,10,22,8,18,9,2,20
1,2003,10,1272,70,1393,63,N,0,26,62,...,24,9,20,20,25,7,12,8,6,16
2,2003,11,1266,73,1437,61,N,0,24,58,...,26,14,23,31,22,9,12,2,5,23
3,2003,11,1296,56,1457,50,N,0,18,38,...,22,8,15,17,20,9,19,4,3,23
4,2003,11,1400,77,1208,71,N,0,30,61,...,16,17,27,21,15,12,10,7,1,14

In [12]:
capstone.tail()

,Season,DayNum,WTeamID,WScore,LTeamID,LScore,WLoc,NumOT,WFGM,WFGA,...,LFGA3,LFTM,LFTA,LOR,LDR,LAst,LTO,LStl,LBlk,LPF
87361,2019,128,1412,70,1292,61,N,0,24,49,...,30,3,6,10,20,13,14,5,3,20
87362,2019,128,1417,79,1390,72,N,0,25,61,...,25,11,20,18,30,11,12,7,9,22
87363,2019,128,1425,78,1112,65,N,0,29,60,...,22,14,19,11,28,11,12,3,6,17
87364,2019,128,1439,71,1274,56,N,0,27,54,...,29,10,14,10,20,10,8,3,0,10
87365,2019,128,1452,72,1328,71,N,0,27,71,...,12,11,13,5,31,12,8,6,1,15

In [15]:
capstone.shape

(87366, 34)

In [14]:
type(capstone)

pandas.core.frame.DataFrame

In [25]:
capstone.isnull().sum()

Season     0
DayNum     0
WTeamID    0
WScore     0
LTeamID    0
LScore     0
WLoc       0
NumOT      0
WFGM       0
WFGA       0
WFGM3      0
WFGA3      0
WFTM       0
WFTA       0
WOR        0
WDR        0
WAst       0
WTO        0
WStl       0
WBlk       0
WPF        0
LFGM       0
LFGA       0
LFGM3      0
LFGA3      0
LFTM       0
LFTA       0
LOR        0
LDR        0
LAst       0
LTO        0
LStl       0
LBlk       0
LPF        0
dtype: int64

In [28]:
capstone.Season.unique()

array([2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2016, 2017, 2018, 2019])

In [29]:
capstone.loc[4]

Season     2003
DayNum       11
WTeamID    1400
WScore       77
LTeamID    1208
LScore       71
WLoc          N
NumOT         0
WFGM         30
WFGA         61
WFGM3         6
WFGA3        14
WFTM         11
WFTA         13
WOR          17
WDR          22
WAst         12
WTO          14
WStl          4
WBlk          4
WPF          20
LFGM         24
LFGA         62
LFGM3         6
LFGA3        16
LFTM         17
LFTA         27
LOR          21
LDR          15
LAst         12
LTO          10
LStl          7
LBlk          1
LPF          14
Name: 4, dtype: object

In [42]:
type ('Season')

str

In [43]:
type ('DayNum')

str

In [44]:
type ('Wloc')

str

In [49]:
capstone.WScore.describe()

count    87366.000000
mean        75.430282
std         11.135159
min         34.000000
25%         68.000000
50%         75.000000
75%         82.000000
max        144.000000
Name: WScore, dtype: float64

In [50]:
capstone.LScore.describe()

count    87366.000000
mean        63.436852
std         10.976527
min         20.000000
25%         56.000000
50%         63.000000
75%         70.000000
max        140.000000
Name: LScore, dtype: float64

In [51]:
capstone.WLoc.unique()

array(['N', 'H', 'A'], dtype=object)

In [52]:
pwd

'/Users/adejuwon/Documents/Capstone'